body{
    text-align: center;
    background-image: url(Gl3Harv.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/*Text settings*/
.onBehalfText{
    font-weight: bolder;
}
.welcomeText{
    font-weight: bolder;
}

.boldText{
    color: white;
font-weight: bolder;}

/* Text settings end */

/*Link Colors*/

.linkColor{
    font-size: larger;
    color: #58C100;
    text-decoration: none;
}
.mishyyyColor{
    color: #FF00FB;
    text-decoration: none;
}
.kittenColor{
    color: #BD1DFE;
    text-decoration: none;
}
/*Link Colors end*/

/* Steps to joing color settings */

.step{
    font-size: x-large;
    color: rgb(156, 18, 30);
}
/* Steps to joing color settings end */
/*mobile settings*/
@media (min-width: 900px){
    body{
        text-align: center;
        background-image: url(mobile.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
}
/*mobile settings end*/