html{
    background: url(Gl3Harv.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body{
    text-align: center;
}

#wrapper{
    margin: 0 auto;
    width: 900px;

}

/*Text settings*/
.onBehalfText{
    font-weight: bolder;
}
.welcomeText{
    font-weight: bolder;
}

.boldText{
    color: white;
font-weight: bolder;}

/* Text settings end */

/*Link Colors*/

.linkColor{
    font-size: larger;
    color: #58C100;
    text-decoration: none;
}
.mishyyyColor{
    color: #FF00FB;
    text-decoration: none;
}
.kittenColor{
    color: #BD1DFE;
    text-decoration: none;
}
/*Link Colors end*/

/* Steps to joing color settings */

.step{
    font-size: x-large;
    color: rgb(156, 18, 30);
}
/* Steps to joing color settings end */
